* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #11998e;
  background: linear-gradient(to right, #38ef7d, #11998e);
}

h1 {
  text-align: center;
  color: darkblue;
  margin-bottom: 30px;
}

.container {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.input_form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input.add {
  margin: 30px 0;
  width: 180px;
  height: 30px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  outline: none;
  color: darkblue;
}

input.add::placeholder {
  color: darkblue;
}

button.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: darkblue;
  color: green;
  font-size: 20px;
  font-weight: bold;
  border-color: darkblue;
  border-style: none;
}

button.btn:focus {
  outline: none;
}

.to_do_list {
  margin: 20px;
  color: darkblue;
  list-style: upper-roman;
}

.to_do_list li {
  margin: 5px 0;
}

footer {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  color: darkblue;
}

footer img {
  height: 60px;
  vertical-align: middle;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
